.employee-img{
    width: 150px;
    height: 150px;
    border: 1px solid #747474;
    border-radius: 17px;
}
.remove-img-btn{
    border: 0;
    border-radius: 50%;
    background-color: #ff8787;
    position: absolute;
    left: -8px;
    top: -9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}